.delete-btn {
  font-size: 1.4rem !important;
  color: #fff !important;
  background-color: var(--color-danger) !important;
  text-transform: capitalize !important;
  font-weight: 600 !important;
  margin-left: 1.5rem !important;
  padding: 2px 14px !important;

  svg {
    color: #fff;
    margin-right: 0.8rem;
  }
}

.searchSelect-data {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem !important;
  margin: 1rem;
  cursor: pointer;

  .exchangeName {
    display: flex !important;
    gap: 1rem !important;

    h4 {
      font-size: 1.4rem !important;
      color: var(--color-dark) !important;
      text-transform: uppercase;
      font-weight: 500;
    }

    p {
      font-size: 1.2rem;
      color: var(--color-darkgrey) !important;
      text-transform: uppercase;
      opacity: 0.8;
    }
  }

  .exchangeSell {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 0.5rem !important;
    width: 20rem;
    padding: 0 1rem;

    span {
      font-size: 1.2rem;
      color: var(--color-darkgrey);
    }

    .addSymbol-actions {
      width: 4rem;
      padding: 0 0.2rem;
      text-align: center;

      &.last {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 10rem;
        border-right: none;
        padding-right: 0;
      }

      button.addSymbol-btn {
        min-width: 3rem;
        width: 3rem;
        height: 3rem;
        min-height: 3rem;
        color: var(--color-dark);
        border: var(--border);
        margin-top: 0;
        margin-right: 0.5rem;

        &:hover {
          background-color: var(--color-lightPrimary);
        }

        svg {
          color: var(--color-dark);
          font-size: 2rem;
        }
      }
    }
  }

  h5.rate {
    font-size: 1.2rem;
    display: inline-flex;
    align-items: center;

    svg {
      margin-right: 1rem;
      font-size: 1.2rem;
      height: 2rem;
      width: 2rem;
    }

    &.up {
      color: #0071f3 !important;

      svg {
        color: #0071f3 !important;
      }
    }

    &.down {
      color: var(--color-danger) !important;

      svg {
        color: var(--color-danger) !important;
      }
    }
  }
}

.addSymbol-marketwatch {
  .modalHeader {
    h4 {
      font-size: 2rem;
      font-weight: 600;
      color: var(--color-dark);
      padding: 0 1.5rem;
    }
  }

  .modalBody {
    padding: 4rem 2rem 2rem 2rem !important;
    padding-top: 7rem !important;

    .inputFiled {
      border: var(--border);
      margin-right: 1rem !important;
      border-radius: 0.4rem;
      position: relative;
      display: inline-block;
      height: 4.4rem;
      width: 100%;

      .MuiTextField -root {
        width: 100%;

        input {
          font-size: 1.4rem;
          padding: 1rem 1rem 1rem 5rem !important;
          color: var(--color-dark);
        }
      }

      .searchIcon {
        position: absolute;
        top: 50%;
        left: 1.5rem;
        transform: translateY(-50%);
        font-size: 2.4rem;
        opacity: 0.7;
      }

      @media screen and (max-width: 900px) {
        margin: 0;
        margin-bottom: 1rem;
        width: 100%;
      }
    }

    .toggleButton {
      flex-wrap: wrap;
      margin-bottom: 1rem;

      button {
        background-color: transparent;
        border-radius: 5rem !important;
        padding: 0.2rem 1rem !important;
        color: var(--color-dark);
        border: var(--border);
        font-size: 1.4rem !important;
        margin-right: 0.5rem;
        margin-top: 1rem;
        font-weight: 500;
        height: auto !important;
        min-height: auto !important;

        &.Mui-selected {
          border-color: var(--color-primary);
          background-color: var(--color-lightPrimary);
        }

        @media screen and (max-width: 767px) {
          font-size: 1.2rem;
          padding: 0.2rem 0.8rem;
        }
      }
    }

    .addSymbolList-box {
      height: 50vh;
      overflow-y: auto;
      overflow-x: auto;

      .addSymbolList {
        display: flex;
        align-items: center;
        padding: 0.6rem 0.2rem;
        border-bottom: var(--border);

        .addSymbol-actions {
          width: 4rem;
          padding: 0 0.2rem;
          text-align: center;

          &.last {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 10rem;
            border-right: none;
            padding-right: 0;
          }

          button.addSymbol-btn {
            min-width: 3rem;
            width: 3rem;
            height: 3rem;
            min-height: 3rem;
            color: var(--color-dark);
            border: var(--border);
            margin-top: 0;
            margin-right: 0.5rem;

            &:hover {
              background-color: var(--color-lightPrimary);
            }

            svg {
              color: var(--color-dark);
              font-size: 2rem;
            }
          }
        }

        .pText {
          p {
            font-size: 1.4rem;
            color: var(--color-dark);
            text-transform: uppercase;
            font-weight: 500;
            margin: 0 1rem;
            white-space: nowrap;
            text-overflow: ellipsis;
          }
        }

        img.symbolImg {
          height: 2.8rem;
          width: 2.8rem;
          border-radius: 50%;
        }

        .symbols {
          width: 20rem;
          display: flex;
          align-items: center;
          padding: 0 1rem;
        }

        .symbolName {
          width: 40rem;
          padding: 0 1rem;
        }
      }

      .exchangeSell {
        display: flex;
        align-items: center;
        justify-content: end;
        width: 20rem;
        padding: 0 1rem;

        span {
          font-size: 1.2rem;
          color: var(--color-darkgrey);
        }
      }
    }
  }
}



.tabbut{
  border-radius: 10px;
  background-color: #00ff9125;
  border: none;
  color:black;

}

.head{
  font-size: 20px;
}

.line{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.dropbtn {
  background-color: #ffff;
  color: #333333;
  padding: 8px 100px 8px 25px;
  min-width: 280px;
  font-size: 12px;
  border-radius: 10px;
  cursor: pointer;
  border: 1px solid #D6D5D5;
  font-weight: 500;
}


.dropdown {
  position: relative;
  display: inline-block;
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 280px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}


.dropdown-content a {
  color: black;
  padding: 12px 16px;
  font-size: 12px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}


.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #dddbdb;
}
.div01{
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;

}
.stratlogo{
  height: 20px;
  width: 20px;
}
.text01{
  color: #7429B5;
  font-size: 12px;
}

.div004{
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
}

.tablebutton{
  border-radius: 15px;
  padding: 6px 30px 6px 30px !important;
  background-color: white !important;
  border: 1px solid #A8A8A8 !important;
}

.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

.w3-bar-item {
  background-color: #f1f1f1;
  color: black;
  padding: 10px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

/* Style for the active tab */
.active-tab {
  background-color: #00ff9146 !important; /* Change to your desired active color */
  color: black; /* Change the text color for active tab if needed */
  border: none !important;
}

/* Hover effect for the tab buttons */
.w3-bar-item:hover {
  background-color: #ddd;
}


.watchlist-tab {
  position: relative;
  display: inline-block;
}

.delete-tab-btn {
  display: none; /* Hidden by default */
  position: absolute;
  top: -4px;
  right: -4px; /* Adjust position to suit your design */
  background-color: red;
  color: white;
  border: none;
  padding: 2px 4px;
  font-size: 8px;
  cursor: pointer;
  border-radius: 50%;
}

/* Show delete button on hover */
.watchlist-tab:hover .delete-tab-btn {
  display: inline-block;
}

.add-watchlist-btn {

  border: none !important;
  color: #5A5A5A;
  padding: 0px !important;
  font-size: 12px;
  cursor: pointer;
  margin: 10px 0;
  background-color: #FBFBFB;
}

.add-watchlist-btn:disabled {
  background-color: #FBFBFB;
  cursor: not-allowed;
}

.w3-bar-item {
  position: relative;
}

.div006{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}
.text0123{
  font-size: 16px;
}
.addbut{
  border: none;
  padding: 10px 40px 10px 40px;
  background-color: #00ff9143;
  border-radius: 10px ;
}
.div007{
  display: flex;
  flex-direction: column;
 
}
.text003{
  font-size: 12px;
  margin: 0px;
  color: #5A5A5A;
}





.column-settings {
  position: absolute;
  top: 100%; /* Position it directly below the image */
  right: 0;
  border: none;
  border-radius: 10px;
  padding: 10px;
  background-color: white;
  color: rgb(138, 137, 137);
  font-size: 12px;
  font-weight: 200;
  z-index: 1000;
  width: 200px; /* Set width for the dropdown */
}

.stratlogo {
  width: 20px;
  height: 20px;
}

input[type="checkbox"] {
  margin-right: 10px;
  width: 10px;
}

.column-settings div {
  padding: 5px 0;
}

thead{
  font-size: 12px;
  border: 0px solid white;
  
 
}

table{
  margin-top: 20px;

}
.scroll::-webkit-scrollbar {
  height: 10px; /* Change the height of the horizontal scrollbar */
}

// .scroll::-webkit-scrollbar-thumb {
//   background-color:rgba(0, 255, 145, 0.262745098); /* Color of the scroll thumb */
//   border-radius: 10px; /* Rounded corners for the thumb */
// }

// .scroll::-webkit-scrollbar-thumb:hover {
//   background-color: #555; /* Thumb color on hover */
// }

// .scroll::-webkit-scrollbar-track {
//   background-color: #fbfbfb; /* Track color */
// }

// /* For Firefox */
// .scroll {
//   scrollbar-width: thin; /* Thin scrollbar */
//   scrollbar-color: rgba(0, 255, 145, 0.262745098) #fbfbfb; /* Thumb and track colors */
// }


.modal-overlay1 {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.modal-content1 {
  background: white;
  padding: 20px 60px;
  border-radius: 5px;
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.close-btn1 {
  position: absolute;
  background-color: green;
  height: 20px;
  width: 20px;
  border-radius: 10px;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

.subbut{
  width: 100%;
  border: none;
  background-color: #00ff9146;
  padding: 10px;
  margin-top: 20px;
  border-radius: 10px;
}

.inpmod{
  width: 90%;
  border: 1px solid #5A5A5A;
  background-color: white;
  padding: 10px;
  margin-top: 20px;
  border-radius: 10px;
}


.buttdrop{
  padding: 0 !important;
  margin-top: 0 !important;
  border: none !important;
  height: 35px;
  width: 300px;
}

.labelbut{
  height: 30px;
  font-size: 12px;
}

.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input{
  width: 200px;
  border: 1px solid #c3c3c3;
  font-size: 13px;
  padding: 10px !important;
}




