.indicator_details {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: left;
  flex-wrap: wrap;
  max-height: 60vh;
  overflow-y: auto;

  .indicator_item {
    margin-right: 1.5rem;
    width: calc(33.33% - 4rem);
    padding: 0;
    overflow: hidden;
    height: 0;

    &.collpase {
      height: auto;
      padding: 1rem;
      overflow: visible;
      margin-bottom: 1.5rem;
      border: var(--border);
    }

    p {
      font-size: 1.3rem;
      color: var(--color-darkgrey);
      font-weight: 500;

      @media screen and (max-width:991px) {
        font-size: 1.2rem;
      }
    }

    @media screen and (max-width:1199px) {
      width: calc(50% - 4rem);

      &:nth-child(3n + 3) {
        border-right: var(--border);
      }

      &:nth-child(2n + 2) {
        border-right: none;
      }
    }

    @media screen and (max-width:767px) {
      width: 100%;
      border-right: none !important;
      border-bottom: var(--border) !important;
      margin: 0;
    }
  }
}